body {
	/*--accent-color: 148, 46, 74 !important;*/
	--accent-color: 255, 93, 92 !important;
	--page-color-transparency: 1;
	background: linear-gradient(5deg, #fdf0eb 0vh, #fceae6 20vh, #e3d9e2 40vh, #dce6e4 60vh, #faecdb 80vh, #fdf0eb 110vh);
	background-repeat: no-repeat;
  	background-attachment: fixed;
}

body > header > * {
	/*justify-content: center;*/
}

.hero {
	width: calc(100% + 2*var(--gutter-width));
	margin: 0 calc(-1*var(--gutter-width)) !important;
}


body > footer {
	background-image: url('../assets/illustrations/kid3.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: auto 20vh;
}


/* newsletter form */
#newsletter form {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	margin: var(--gutter-height) auto;

	background: rgba(var(--page-color), 0.7);
	border: 1.5px solid;
	border-radius: 2rem;
}

#newsletter form:focus-within {
	border-color: rgb(var(--accent-color));
}

#newsletter input {
	margin: 3px;
}

#newsletter input[type="email"] {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	margin-left: 0.8rem;

	border-color: transparent;
}
	#newsletter input[type="email"]:focus {
		outline: none;
	}

	#newsletter input[type="email"]::placeholder {
		color: var(--shadow-color);
		opacity: 1;
	}

#newsletter label {
	position: absolute;
	top: calc(-1.5*var(--line-height));
	width: 100%;

	font-size: 0.8rem;
	text-align: center;
}